name: Build Container Images as Anonymous
on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build Scripts
        run: shellcheck build-*.sh
      - name: Run Scripts
        run: |
          ./build-all.sh
          ./build-tool-images.sh latest
