name: Build Container Images Authenticated
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build Scripts
        run: shellcheck build-*.sh
      - name: Run Scripts
        env:
          SKIP_UI: true
        run: |
          ./build-all.sh
          ./build-tool-images.sh latest
