name: Build Container Images Authenticated
on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'oracle/**'
      - 'build-oracle.sh'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
      - name: Build Scripts
        run: shellcheck build-*.sh ./script-functions/*.sh
      - name: Run Scripts
        env:
          SKIP_UI: true
        run: |
          ./build-all.sh
          ./build-tool-images.sh latest
